<div class="well">
  <form class="cam-search">
    Search Resources:
    <input type="search" name="Search" ng-model="resSearch.searchVal">
    <button type="submit" class="btn btn-camara" ng-click="resSearch.SearchResources();">
      <b>&#128269;</b>
    </button>
  </form>
</div>
<div class="well" ng-if="resSearch.searchedYet">
  <p ng-if="resSearch.searchResults.length==0 && resSearch.searchedYet">No Results Found</p>
  <a class="btn btn-row" ng-repeat="resource in resSearch.searchResults" href="#/resource/{{resource.name}}"><img ng-src="images/app_icons/{{resource.icon}}"/><p>{{resource.name}}</p></a>
</div>
